rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      // Could be written into a common function
      allow read, write: if request.auth != null && user == request.auth.uid

      match /payments/{paymentId} {
        allow read, write: if request.auth != null && user == request.auth.uid
      }
    }
    match /products/{product} {
      allow read: if request.auth != null
      allow write: if false
    }
  }
}
